
<body class="left-sidebar">

<div id="preloader">
  <div id="status">

        <p class="center-text smaller-text">
            We're loading the content, give us a second. This won't take long!
        </p>
    </div>
</div>

<div class="gallery-fix"></div> <!-- Important for all pages that have galleries or portfolios -->

<div id="header-fixed" class="left-sidebar">
    <a class="open-left-sidebar" href="#"><i class="fa fa-navicon"></i></a>
    <div class="open-left-sidebar-logo" href="#">Nucleus</div>
    <a class="open-right-sidebar" href="#"><i class="fa fa-qrcode"></i></a>
</div>

<!-- Ball Footer Menu -->

<div class="footer-menu">
    <a href="#" class="footer-menu-open">
        <i class="fa fa-ellipsis-v"></i>
    </a>
    <a href="#" class="footer-menu-close">
        <i class="fa fa-times"></i>
    </a>
    <a href="/dash/add" class="footer-menu-item fm-1">
        <em>Add Item</em>
        <i class="bg-blue-dark fa fa-plus-circle"></i>
    </a>
    <a href="/dash/search" class="footer-menu-item fm-2">
        <em>Search</em>
        <i class="bg-night-dark fa fa-search"></i>
    </a>
    <a href="/dash/search" class="footer-menu-item fm-3">
        <em>Scan</em>
        <i class="bg-night-dark fa fa-qrcode"></i>
    </a>
</div>
<div class="menu-background"></div>

<div class="all-elements">
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div class="sidebar-header">
                <div class="sidebar-header-logo">
                  <h1 class="user_name"><%=session[:current_user].user_name%></h1>
                  <h3><%=session[:current_user].email%></h3>
                </div>
                <div class="overlay"></div>
            </div>


            <div class="sidebar-menu half-bottom">

                <div>
                    <a class="menu-item" href="/dash">
                        <i class="fa fa-home"></i>
                        <em>Dashboard</em>
                    </a>
                </div>
                <div class="has-submenu">
                    <a class="menu-item" href="/dash/list">
                        <i class="fa fa-list"></i>
                        <em>Items</em>
                    </a>
                </div>
                <div class="has-submenu">
                    <a class="menu-item" href="/categories">
                        <i class="fa fa-database"></i>
                        <em>Categories</em>
                    </a>
                </div>
                <div>
                    <a class="menu-item" href="/locations">
                        <i class="fa fa-map-marker"></i>
                        <em>Locations</em>
                    </a>
                </div>
                <div>
                    <a class="menu-item" href="/settings">
                        <i class="fa fa-cog"></i>
                        <em>Settings</em>
                    </a>
                </div>
                <div>
                    <a class="menu-item" href="/logout">
                        <i class="fa fa-sign-out bottom"></i>
                        <em>Logout</em>
                    </a>
                </div>

            </div>


        </div>

        <!--Right Sidebar -->

        <div class="snap-drawer snap-drawer-right">
            <!-- Disabled on this page -->
        </div>

        <div id="content" class="snap-content">
            <div class="content">
            <div class="header-clear-large"></div>
            <!--Page content goes here, fixed elements go above the all elements class-->
						<div class="container">
              <table id="table_id" class="display compact">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Vendor</th>
                          <th>Product Number</th>
                          <th>Description</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Options</th>
                      </tr>
                  </thead>
                  <tbody>
                  <% @products.each do |product| %>
                      <tr>
                          <td><%= product.id %></td>
                          <td><%= product.product_name %></td>
                          <td><%= product.product_vendor %></td>
                          <td><%= product.product_number %></td>
                          <td><%= product.product_description %></td>
                          <td><%= product.unit_price %></td>
                          <td><%= product.product_qty %></td>
                          <td>
                            <form class="button-group" action="/dash/update/<%= product.id %>" method='post'>
                                    <button class="edit" type="submit"><i class="fa fa-pencil"></i></button>
                             </form>

                             <form class="button-group" action="/dash/sell/<%= product.id %>" method='post'>
                                 <button class="delete" type="submit"><i class="fa fa-remove"></i></button>
                             </form>
                          </td>
                      </tr>
                      <% end %>
                  </tbody>
                </table>
            </div>
						<div class="clear"></div>
						<div class="decoration"></div>
						<div class="footer">
							<p class="center-text">Copyright 2015. All rights reserved.</p>
            </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
</div>



<script>
// $().ready(function () {
//     $('.activity-item-image[src=""]').attr('src','https://image-gr.s3.envato.com/files/100902816/01_Preview.jpg');
//     $('.activity-item-image[src="Product Image URL"]').attr('src','https://image-gr.s3.envato.com/files/100902816/01_Preview.jpg');
// });
$(document).ready( function () {
    $('#table_id').DataTable({
          // columnDefs: [ {
          //     targets: [ 0 ],
          //     orderData: [ 0, 1 ]
          // }, {
          //     targets: [ 1 ],
          //     orderData: [ 1, 0 ]
          // }, {
          //     targets: [ 4 ],
          //     orderData: [ 4, 0 ]
          // } ]
      });
} );
</script>
